@font-face {
  font-family: 'Lineal';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Lineal-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Lineal';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Lineal-Regular.ttf') format('truetype');
}
